# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
venv/

# Base de datos local (SQLite)
*.db

# IDE
.vscode/
.idea/

# SO
Thumbs.db
.DS_Store

# Entorno (archivos temporales de shell)
$env
cls
dir
